<!DOCTYPE html>
<html>
<head>
  <title>UserAuthenticateWithoutGem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script>
$(document).ready(function(){
    var imageUrl=$(".derby-home-display-bg").val();
var imageUrl=$(".derby-home-display-bg").val();
$('.new-profile').css('background-image', 'url(' + imageUrl + ')');
$('.new-profile').css('background-size', '100% 100%');
$('.new-profile').css('background-repeat', 'no-repeat');

});
</script>
<%if current_user.nil?%>
    <input class="derby-home-display-bg" type="hidden" value="/assets/bg.png"/>
<%else%>
    <input class="derby-home-display-bg" type="hidden" value="<%= @user.cover_photo.url%>"/>
<%end%>
<body 	<%if !current_user.nil?%>class="new-profile"<% end %> >
<%= render partial: "shared/header" %>
<div class="page_content">
  <div class="container">
  <%= yield %>
 </div>
</div>
<%= render partial: "shared/footer" %>
</body>

</html>
